In [14]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Comparison ##

In [1]:
3 > 1

True

In [2]:
type(3 > 1)

bool

In [3]:
3 = 3

SyntaxError: can't assign to literal (<ipython-input-3-79bfd1be65e2>, line 1)

In [4]:
3 == 3

True

In [5]:
x = 5
y = 12

In [6]:
x == 7

False

In [7]:
y-x

7

In [8]:
4 < y-x <= 6

False

In [9]:
4 < y-x

True

In [10]:
y - x <= 6

False

In [11]:
True and False

False

In [12]:
True and True

True

In [15]:
# array comparisons
pets = make_array('dog', 'dog', 'cat', 'cat', 'rabbit')

In [16]:
pets == 'dog'

array([ True,  True, False, False, False])

In [17]:
1 + 1 + 0 + 0 + 0

2

In [18]:
sum(make_array(True,True,False,False,False))

2

In [ ]:
# np.count_nonzero

In [ ]:
terms = Table().with_column('Semesters', np.arange(1, 9))
terms

In [ ]:
# predicates: are.above()

In [ ]:
# also_senior function

## Conditional Statements ##

In [ ]:
def year_from_semesters(x):
    ...

In [ ]:
# add results to table as column

## Appending Arrays ##

In [ ]:
first = np.arange(1, 6,)
second = np.arange(6, 11)

In [ ]:
first

In [ ]:
# append a value to an array

In [ ]:
# append two arrays

## Random Selection ##

In [ ]:
two_groups = ['treatment', 'control']

In [ ]:
coin = ['heads', 'tails']

## For Statements ##

In [ ]:
Table().with_column(
    'Heads in 100 Tosses', outcomes
).hist(bins = np.arange(25.5, 75.5))